<ion-header [translucent]="true">
  <ion-toolbar> </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="dashboard-group">
    <div class="dashboard-group__title">寄付可能な残り残高</div>
    <div class="dashboard-group__money-with-union">
      <span class="money">2.68</span>ETH
    </div>
    <div class="dashboard-group__can-be-donated-left-time">0時19分時点</div>
  </div>
  <div class="coupons-list">
    @for (coupon of coupons; track coupon.id) {
    <div class="coupons-list__coupon">
      <div class="coupons-list__coupon__thambnail">
        <img [src]="coupon.thumbnail" />
      </div>
      <div class="coupons-list__coupon__simple-detail">
        <div class="coupons-list__coupon__simple-detail__organization-name">
          {{ coupon.organization_name }}
        </div>
        <div class="coupons-list__coupon__simple-detail__coupon-title">
          {{ coupon.title }}
        </div>
        <div class="coupons-list__coupon__simple-detail__coupon-donate">
          <div
            class="coupons-list__coupon__simple-detail__coupon-donate__price"
          >
            {{ coupon.price }}ETH
          </div>
          <div
            class="coupons-list__coupon__simple-detail__coupon-donate__exchange-button-group"
          >
            <div
              class="coupons-list__coupon__simple-detail__coupon-donate__exchange-button-group__action-name"
            >
              寄付して獲得
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</ion-content>
