<ion-content [fullscreen]="true">
  <ion-header [translucent]="false">
    <div class="user-group">
      <div class="user-group__avatar">
        <img src="../../assets/images/default-avatar.png" alt="user-avatar" />
      </div>
      <div class="user-group__user-data">
        <div class="user-group__user-data__name">Ryosuke Uchida</div>
        <div class="user-group__user-data__address">0xe5F26...d0623</div>
        <div class="user-group__user-data__connection-status"
          tappable
          (click)="openConnectModal()"
        >
          <img src="../../assets/icon/btn-metamask-connected.svg" alt="wallet-connect-button" />
        </div>
      </div>
    </div>
  </ion-header>

  <div class="section-title">
    保有しているクーポン
  </div>

  <div class="coupons-list">
    @for (coupon of coupons; track coupon.id) {
    <div class="coupons-list__coupon">
      <div class="coupons-list__coupon__thambnail">
        <img [src]="coupon.thumbnail" alt="coupon-thumbnail" />
      </div>
      <div class="coupons-list__coupon__simple-detail">
        <div class="coupons-list__coupon__simple-detail__organization-name">
          {{ coupon.organization_name }}
        </div>
        <div class="coupons-list__coupon__simple-detail__coupon-title">
          {{ coupon.title }}
        </div>
        <div class="coupons-list__coupon__simple-detail__coupon-donate">
          <div
            class="coupons-list__coupon__simple-detail__coupon-donate__exchange-button-group"
          >
            <div
              class="coupons-list__coupon__simple-detail__coupon-donate__exchange-button-group__action-name"
            >
              利用する
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</ion-content>
