ion-header {
  background-color: var(--ion-color-primary-contrast);
}

.user-group {
  display: flex;
  justify-content: space-between;
  padding: 1.82rem 0 1.28rem 2.05rem;

  &__avatar {
    aspect-ratio: 1;
    height: 6.24338rem;

    img {
      border-radius: 50%;
    }
  }

  &__user-data {
    overflow: hidden;
    margin-left: 1.47rem;

    &__name {
      color: var(--text-main, #222);
      font-family: Inter;
      font-size: 1.59319rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.04781rem;
      white-space: nowrap;
      position: relative;
    }

    &__name:before {
      content: "";
      position: absolute;
      border-style: none;
      left: 0;
      bottom: 0;
      z-index: 2;
      width: 100%;
      height: 120px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 64.5%, #FFF 89.5%);
    }

    &__address {
      color: var(--text-sub, #797979);
      font-family: Inter;
      font-size: 0.96438rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.02894rem;
      margin-top: 0.27rem;
    }

    &__connection-status {
      margin-top: 0.7rem;
    }
  }
}