<ion-content [fullscreen]="true">
  <ion-header [translucent]="false">
    <div class="user-group">
      <div class="user-group__avatar">
        <img src="../../assets/images/default-avatar.png" alt="user-avatar" />
      </div>
      <div class="user-group__user-data">
        <div class="user-group__user-data__name">Ryosuke Uchida</div>
        <div class="user-group__user-data__address">0xe5F26...d0623</div>
        <div class="user-group__user-data__connection-status">connected!</div>
      </div>
    </div>
  </ion-header>
</ion-content>
